@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Trash Pick Up</h1>
</div>
<style>
    body {
        background-image: url('http://images.fineartamerica.com/images/artworkimages/mediumlarge/1/historic-third-ward-vincent-buckley.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    

</style>

