
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimalGrooming</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
             background-image: url('image/waste-management-logo.jpg');
             background-attachment:fixed;
             background-size:cover;
        }
        
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>